body {
  font-family: system-ui;
  background-image: url("https://i.natgeofe.com/n/f6242efe-9b8c-4e95-89a9-44a9d39d0e22/CALFIRE29082021_007903.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  /*background: #f06d06;
  color: black;*/
  text-align: center;
}
