<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="login">
    <br>
    <br>
    <h1 style="color:antiquewhite">Algeria Forest Fire Prediction</h1>
    <br>
    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('html_predict')}}" method="post">
      <input type="text" name="Temperature" placeholder="Temperature(between 22 to 42 celsius)" size="45" required="required" /><br>
      <input type="text" name="RH" placeholder="Relative Humidity(between 21% to 90%)" size="45"required="required" /><br>
      <input type="text" name="WS" placeholder="Wind Speed(between 22 km/hr to 42 km/hr)" size="45" required="required" /><br>
      <input type="text" name="Rain" placeholder="Total Daily Rain(between 0mm to 16.8mm)" size="45" required="required" /><br>
      <input type="text" name="FFMC" placeholder="Fine Fuel Moisture Code Index(between 28.6 to 92.5)" size="45" required="required" /><br>
      <input type="text" name="DMC" placeholder="Duff Moisture Code Index(between 1.1 to 65.9)" size="45" required="required" /><br>
      <input type="text" name="DC" placeholder="Drought Code Index(between 7 to 220.4)" size="45" required="required" /><br>
      <input type="text" name="ISI" placeholder="Initial Spread Index(between 0 to 18.5)" size="45" required="required" /><br>
      <input type="text" name="BUI" placeholder="Buildup Index(between 1.1 to 68)" size="45" required="required" /><br>
      <input type="text" name="FWI" placeholder="Fire Weather Index(between 0 to 31.1)" size="45" required="required" /><br><br><br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>

  </div>
  <h2 style="background-color:black;color:chartreuse;">{{prediction_text}}</h2>    
  <h2 style="background-color:black;color:crimson;">{{prediction_text1}}</h2>    

</body>

</html>
